* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:#3C91E6;
    font-family: 'Poppins', sans-serif;

    text-align: center;
}

.container {
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.box {
    height: 17vmin;
    width: 17vmin;
    border-radius: 14px;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    font-size: 50px;
    color: #ff0000;
    background-color: #d4d4d4;

}

#reset {
    height: 45px;
    width: 140px;
    padding: 9px;
    border-radius: 15px;
    border: none;
    background-color:  #00877E;
    color: white;
    font-size: 19px;
}

#reset:hover,
.box:hover ,#newgame:hover{
    cursor: pointer;
}

#newgame{
    height: 45px;
    width: 140px;
    padding: 9px;
    border-radius: 15px;
    border: none;
    background-color:  #00877E;
    color: white;
    font-size: 19px;
}
#msg{
    color: #ffffff;
    font-size:30px ;

   
}

.hide{
    display:none ;
}